---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- Homepage -->
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>

  <!-- Live Feed -->
  <url>
    <loc>{{ site.url }}/live/</loc>
    <changefreq>hourly</changefreq>
    <priority>0.9</priority>
  </url>

  <!-- Species Index -->
  <url>
    <loc>{{ site.url }}/species/</loc>
    <changefreq>daily</changefreq>
    <priority>0.9</priority>
  </url>

  <!-- Photo Gallery -->
  <url>
    <loc>{{ site.url }}/photos/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Explore Page -->
  <url>
    <loc>{{ site.url }}/explore/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>

  <!-- About Page -->
  <url>
    <loc>{{ site.url }}/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>

  <!-- Species Detail Pages -->
  {% for species in birds.species %}
  <url>
    <loc>{{ site.url }}/species/{{ species.common_name | slugify }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
</urlset>
